[2014-11-21 19:19] avanderhoorn opened #1 "Master task list"
**Basic Foundation:**
- [x] Base solutions created
- [x] Sample OWIN/AspNet5 app running
- [x] Glimpse base services and basic middleware registered
- [x] Integrate with new core DI infrastructure
- [x] Discovering types that implement given interfaces (basic extension model) - **IDiscoverableCollection**
- [x] Glimpse tapping beginning and end of request in OWIN/AspNet5 samples - **IRequestRuntim

[2015-01-28 15:57] nikmd23 opened #2 "Possible Implementation Targets"
**Agents**
- [ ] Browser
- [ ] Web Server
- [ ] HttpClient

**Clients**
- [ ] HUD
- [ ] Web
- [ ] Console?

**Storage**
- [ ] InMemory
- [ ] Azure Document DB
- [ ] Mongo DB
- [ ] SQL Server

**Channels**
- [ ] Redis
- [ ] Azure Service Bus
- [x] Web Sockets
- [x] HTTP

**Inspectors**
- [ ] StackExchange.Redis
- [ ] EntityFramework
- Azure Storage SDK's
  - [ ] Blob
  - [ ] Table
  - [ ] Queue
  -

[2015-03-04 20:31] avanderhoorn opened #3 "Configuration Settings"
## Design:
Inspiration for this design is based on the supported configuration system for DNXRE and how MVC utilizes this.

**Use Case**
- *Options* - Provided by the dnxre, allows for handling Typed Configurations
    - When _order_ of given collection of extensions _is_ required
        - Chain of evaluation which doesn't run through the whole collection unless needed
    - When _setting_ of typ

[2015-03-05 19:48] CGijbels commented on #3
@avanderhoorn I've worked on [a branch](https://github.com/Glimpse/Glimpse/commits/glimpse-configuration-system-refactoring) regarding the code configuration for Glimpse. It is already functional and fully backward compatible with the current glimpse configurations, it allows for configuration to be defined externally (database, server, custom config files, ...) and provides out of the box a provi

[2015-03-06 15:09] avanderhoorn commented on #3
@CGijbels more than happy to talk it over and see what we can do. My main thinking here is that the config/options in vNext is very different to what it was with classic ASP.Net. I know that we (mainly you) put a huge amount of effort into the config system in the old v2 code base, but with the advent of vNext and how different it is, I'm not sure what else we can do. For instance the next version

[2015-03-06 15:51] CGijbels commented on #3
the configuration has been built to allow any kind of source for the configuration settings to start with, after which configuration to code can be added as well.
So for vNext it might be enough to implement the [`IConfigurationSettingsProvider`](https://github.com/Glimpse/Glimpse/blob/glimpse-configuration-system-refactoring/source/Glimpse.Core/Configuration/IConfigurationSettingsProvider.cs) alt

[2015-03-10 00:13] avanderhoorn opened #4 "Configurable Security Policies vs Runtime Policies and Agent vs Server Concerns"
Currently Security Policies are just one type/implementation of a Runtime Policy. Specifically, one can create a Runtime Policy that has nothing to do with securing/limiting access to Glimpse or they can create a policy which simply controls what assets Glimpse will profile. This lack of a clear distinction isn't a problem for those who are explicitly aware of the different, but for those who aren

[2015-07-14 22:00] rynowak opened #7 "Change GlimpseServiceCollectionBuilder to just expose glimpse options"
We don't want startup code like `AddGlimpse()` to chain with unrelated features, `AddGlimpse()` should return an `IGlimpseBuilder` or something that only exposes relevant glimpse options.

See `IMvcBuilder` in MVC

[2015-07-27 20:59] nikmd23 opened #12 "Move repository to Glimpse organization"
This is self explanatory, but can only be done by @avanderhoorn.

[2015-07-27 21:05] nikmd23 opened #13 "Figure out Install-Package experience"
What does the Glimpse v2 install experience look like? This issue is _not_ about nailing down names or actually creating all the packages, but rather represents a thought exercise that should solve:
1. How will users install Glimpse into their greenfield application?
2. How will Glimpse grow with users when they move to a multiple WFE environment?

To be considered, Agents, Server, Client(s), Stor

[2015-07-27 21:07] nikmd23 opened #14 "Glimpse <script> tag auto-injection in Razor"
How do we auto-inject `<script>` tags into response bodies going forward?

Perhaps TagHelpers provide a way?

[2015-07-27 21:13] nikmd23 opened #15 "F5 running experience"
Once the Glimpse source code has been downloaded, and the `.sln` opened, it should only require users to press `F5` to get the following:
- [x] Glimpse building
- [x] A sample application, most likely [aspnet/musicstore](https://github.com/aspnet/musicstore), popped open in a browser
  - [x] with populated database,
  - [x] Glimpse running in a "single-proc" mode
  - [x] where clicking the "G" wil

[2015-07-27 21:14] nikmd23 opened #16 "Integrate In-memory persistence store"
@nikmd23 has already built a working spike of the in-memory persistence store.

This work is to integrate it back into the Glimpse repo.

[2015-07-27 21:21] nikmd23 opened #17 "Test project setup"
### Unit/Integration Testing:

Till now we have ben prototyping what Glimpse v2 would look like and have been avoiding writing unit tests. This is primarily because we have been making big changes and generally trying different concepts, hence ease of making changes has been a bigger priority over reliability. But now we are moving more towards locking down some of our concepts, setting up CI, bri

[2015-07-27 21:22] nikmd23 opened #18 "Glimpse organization cleanup"
Cleanup the Glimpse organization.

Some repo's should be transferred to @avanderhoorn while other should be deleted, moved or marked as obsolete.

[2015-07-29 04:14] avanderhoorn commented on #12
Done. But I think we should move the other repos in the org to an archive org or something to help lesson confusion.

[2015-07-29 15:16] nikmd23 commented on #12
I agree that the org should be cleaned up - thus #18 :wink:

[2015-07-29 15:16] #12 closed, assigned to avanderhoorn

[2015-07-29 22:24] avanderhoorn commented on #18
Everything is cleaned and up to date. We now have a [GlimpseArchive](https://github.com/GlimpseArchive) org.

[2015-07-29 22:24] #18 closed, assigned to avanderhoorn

[2015-07-30 15:52] nikmd23 opened #19 "Describe branching strategy"
@avanderhoorn,

I know there is a loose branching strategy in place. Could you quickly describe it here?

I'll then clean it up and use it as the basis for the beginning of a re-vamped `contributing.md` file.

[2015-07-30 19:30] avanderhoorn commented on #19
If by loose you mean not much, then yes. We only have the Dev branch because that's what the aspnet build server required. Given this and the fact that I thought coming up with a better strategy wasn't a bad idea, so I setup the Dev branch.

With that in mind, I figured that all PR would be made against dev and when we are ready to do a release we can pull into master and stabilise there.

[2015-07-30 20:19] nikmd23 commented on #19
I've added `contributing.md` and converted this to a PR. Lets iterate on the document a few times and then pull it in.

[2015-08-03 15:42] nikmd23 commented on #15
While the solution is building, I've not been able to get `Glimpse.AgentServer.AspNet.Sample` to run.

[2015-08-03 18:07] nikmd23 commented on #14
My rebasing got all screwed up. :cry:

However, this work is done. It leverages the `ScriptInjector` tag helper to add a `<script>` tag to the page.
- The script tag currently just renders a boring link. Obviously this needs to emit the HUD client in the future.
- The code currently lives in `Glimpse.Web.Common`, which we may not want in the long run.

Those caveats given, @avanderhoorn, I'll leav

[2015-08-03 21:09] avanderhoorn commented on #14
:shipit:

[2015-08-03 21:44] avanderhoorn commented on #16
Just so we know this change will break the clients.

[2015-08-03 22:08] nikmd23 commented on #16
Yes. I assumed the IMessage changes would be breaking.

I'll also add an `Ordinal` to the interface while I do this, which should complete interface changes for the foreseeable future.

[2015-08-04 15:57] avanderhoorn commented on #16
Yep, I can't think of anything else for the moment

[2015-08-04 23:03] nikmd23 commented on #14
Pleasure doing business w/ you. :+1:

[2015-08-05 16:53] nikmd23 opened #21 "Remove host abstraction"
Remove the unnecessary complexity introduced with the host abstraction.

[2015-08-05 17:45] nikmd23 opened #22 "Networking for agent, server and client"
Eventually, it'd be great to "just use @signalr" everywhere. It uses web sockets, our preferred transport mechanism, when possible and falls back elegantly otherwise. Unfortunately, it looks like the next version of SignalR, presumably the one that supports CoreCLR, [is a year way from being released](https://github.com/aspnet/Home/wiki/Roadmap#future-work).

This issue captures the work required

[2015-08-05 18:02] nikmd23 opened #23 "Resource module"
We need to add back in the concept of resources that can serve assets and data.

In the past, Glimpse resources could:

- Specify their parameters
- Write to the response stream
- Set headers
- Leverage decorators to perform common tasks

Do we want to keep the same requirements for 2.0?

[2015-08-05 18:10] nikmd23 opened #24 "Metadata module"
A not-yet-complete list of *requirements* for the metadata system:

- Serve metadata from a resource (#23)
- Tell clients which filtering mechanisms are available
- Tell clients about URI templates to various resources
- Provide cache busting hash
- Provide list of SPA Client extension URLs?
- Any agent specific metadata?

This is a list of *requirements*, not tasks. As such, this list is not work

[2015-08-05 18:15] nikmd23 opened #25 "User identification"
Provide a mechanism for users to enhance the Glimpse experience by annotating user sessions with some sort of meaningful identifier. (Name? Username? Email?)

@leastprivilege has [a nice write up about security in ASP.NET 5](http://leastprivilege.com/2015/07/21/the-state-of-security-in-asp-net-5-and-mvc-6-claims-authentication/). His article leads me to believe that we might be able to leverage cl

[2015-08-05 21:16] nikmd23 commented on #17
**Update/Work in progress**: Welp, the state of testing in .NET kind of sucks right now.

### Testing Framework

@xunit [added support for Beta 6 today](http://xunit.github.io/release-notes/2015-08-04.html), but we are already on Beta 7. @bradwilson has [started a branch](https://github.com/xunit/dnx.xunit/tree/beta7) to get Beta 7 support up and running, but due to [problems with Beta 7](https://

[2015-08-05 22:22] bradwilson commented on #17
`dnx451` works on Mono.

[2015-08-05 22:43] avanderhoorn commented on #17
Not that this really helps, but I wonder if with the advent of the pre-compiler hooks, we will see mocking frameworks tapping into this to create their proxies at compile time... have to think about that one  @davidfowl @anurse @lodejard

[2015-08-06 02:12] avanderhoorn commented on #13
The ~~current~~ proposed package structure is fairly granular. This has the benefit of facilitating a lot of code reuse/sharing, as well as a lot of facilitating a lot of different deployment models.

### Base Structure

Its is built on the back of the following shared packages:
- _Glimpse.Common_: Anything that any package needs access too
- _Glimpse.Web.Common_: Anything that any package that is

[2015-08-06 14:02] nikmd23 commented on #17
That's true @bradwilson, thanks for reminding me.

[2015-08-06 14:26] bradwilson commented on #17
Clearly someone is going to need to step up and fix Castle Proxy, because everybody is using the same engine. One fix could fix them all. :-p

[2015-08-06 14:27] nikmd23 commented on #17
And [that work is already well underway](https://github.com/castleproject/Core/pull/92). :smile:

[2015-08-06 14:39] jonorossi commented on #17
@bradwilson :wink: I've been working there slowly. xUnit,net is actually the thing currently blocking me at the moment https://github.com/castleproject/Core/issues/90#issuecomment-128287533.

[2015-08-06 15:57] brockallen commented on #25
IdentityServer uses the `sub` claim (as defined in the OpenID Connect specification) to uniquely identity the user.

[2015-08-06 16:33] nikmd23 commented on #25
Are `picture` and/or `email` set then as well? Or at least easy for the developer to have set?

[2015-08-06 18:52] nikmd23 commented on #13
I have a few questions:

**Q) What's an example of something that would go in there?**
- _A) At the moment it adds HttpContext semantics onto our Context, as well as any shared config options. This could disappeared as some of the context refactorings occur._

**Q) Is it safe to assume that these won't be a NuGet package but rather an NPM, Bower or JSPM packages?**
- _A) No. The JS itself will be

[2015-08-06 19:33] avanderhoorn commented on #13
Ok updated the questions inline, seemed easier.

[2015-08-06 20:37] nikmd23 commented on #16
I'm currently stalled on this due to the Beta7-12302 bug. Will have to resume once we have a working build again. :disappointed:

[2015-08-07 21:11] avanderhoorn commented on #16
As of 12321 this should unblocked

[2015-08-07 21:12] avanderhoorn commented on #19
Going to pull this in an close off for the time being. Update as needed

[2015-08-07 23:07] avanderhoorn commented on #15
Music store is up and running and in a stable state.

[2015-08-07 23:07] #15 closed, assigned to avanderhoorn

[2015-08-07 23:10] avanderhoorn commented on #13
For what we need to workout at the moment, I'm going to close this off. Can reopen when we actually want to make further decisions

[2015-08-07 23:10] #13 closed, assigned to avanderhoorn

[2015-08-10 16:52] avanderhoorn opened #26 "Switch over pipeline to using middleware"

[2015-08-10 16:54] avanderhoorn commented on #21
I'm going to :shipit: as its blocking some other work that is easier if this is merged in.

[2015-08-10 19:34] avanderhoorn opened #27 "Remove usage of IContextData in favor of using HttpContext directly"
Can leverage IContextAccessor and HttpContext items instead of needing to do it ourselves

[2015-08-16 05:38] avanderhoorn commented on #26
Self :shipit: as size of change would hold out other PRs/fixes.

[2015-08-16 23:05] avanderhoorn commented on #22
So the bad news here is that SignalR has been totally dropped from the Nov release. We previously thought that this meant that we could use sockets on Full Desktop and not on Core, but this is not the case. All work on SignalR has stopped so eventually it will break with various API changes that are made downstream in the stack. This means that for Nov timeframe we will have to use Long Polling an

[2015-08-17 17:56] nikmd23 commented on #22
I've updated the issue to capture these changes.

[2015-08-17 18:15] avanderhoorn commented on #22
For data communications from the Glimpse Server to the Glimpse Client we could try using [Server Sent Events/EventSource](http://www.w3.org/TR/eventsource/) (and a pollyfill for IE). Looks like we should be able to do something quite simply for the Glimpse Client to Glimpse Server communication - [example](http://blogs.microsoft.co.il/gilf/2012/04/10/using-html5-server-sent-events-with-json-and-as

[2015-08-18 15:39] nikmd23 commented on #22
Great. I've updated the issue to cover SSE as the main Server/Client connection strategy.

[2015-08-20 03:42] avanderhoorn commented on #22
By default, with HTTP/1.1 the underlying socket should stay alive and HttpClient supports this. Currently about to start looking at SSE.

[2015-08-21 20:11] nikmd23 commented on #25
## High Level

User identification will publish a message like this:

[code]

## Detailed Breakdown
- The `id`, `context.id` and `context.type` values have standard meaning across all messages.
- **`type`**: This is a predefined string. I'm proposing _user-identification_, but that can be changed if a better name is provided.
- **`indices.request-userId`**: A predefined key used to promote the `pa

[2015-08-21 20:46] brockallen commented on #25
One additional comment I should make: if there is no `sub` claim, then you might want to look for the `NameIdentifier` claim (https://msdn.microsoft.com/en-us/library/microsoft.identitymodel.claims.claimtypes.nameidentifier.aspx). This might be present in lieu of `sub` for some types of applications.

[2015-08-21 23:06] nikmd23 commented on #25
Thanks for the info @brockallen!

[2015-08-21 23:41] nikmd23 commented on #23
### High Level

Glimpse serves resources to its various clients through the resource module. Examples of resources include the client JavaScript files, JSON data and other web assets.

From a high level, resources in Glimpse 2.0 will be pieces of middleware running on a branch of the middleware chain. That branch will be split off based on a configurable `baseUri`, which will probably default to `

[2015-08-24 20:25] nikmd23 commented on #16
There's been a proposal to do away with `IMessage` in `IStorage` and related interfaces, and instead just use JSON strings.
- Should we do this?
- When?

[2015-08-24 20:55] avanderhoorn commented on #16
Great question. It makes complete sense to me, that if we can avoid rehydrating the message out of the store only to turn it to JSON again it would be a big win. Thinking through it, I think that you should have everything you need about a message from the index which means you shouldn't have to look inside the message itself. Are there any possible use cases where we would need `IMessage` going o

[2015-08-26 05:01] avanderhoorn commented on #22
Brought this in for the moment... this will allow me to make the other chances that are needed in middleware first and then loop back to getting this up and running.

[2015-08-26 20:52] nikmd23 opened #31 "Inspector module"
### High Level
Glimpse inspects requests with the usage of inspectors, which typically publish messages to the message broker for storage and consumption by a client.

From a high level, inspectors in Glimpse 2.0 will be pieces of middleware.

There are two API's available:
1.  A more succinct high level API which pushes implements into "a pit of success"
2.  A more robust low level API which coul

[2015-08-27 02:27] avanderhoorn opened #32 "Create abstraction for Discoverable/Fixed Providers"
Currently for every new extension point we have to create a new Discoverable/Fixed Provider Class as well as an accompanying interface. Every implementation is the same and we could make life simpler by abstracting out the implementation and using generics.

### Current:
**Fixed Provider**
[code]
**Discoverable**
[code]
**Interface**
[code]
This pattern needs to be repeated for every provider.

##

[2015-08-27 03:41] avanderhoorn commented on #31
Initial work has been done here. Still need to write in `IInspector`s to actually be executed. This involves creating a IInspectorStartup which processes/runs all the registered `IInspector`s that are registered with the `IInspectorProvider`.

[2015-08-27 23:06] avanderhoorn commented on #31
Work finished, pulling it in.

[2015-08-28 20:02] avanderhoorn commented on #23
Note, URI templates still need to be worked into the picture, but need to wait for further work to be done @darrelmiller. Will integrate as a separate PR when URI templates are ready.

[2015-08-28 20:16] darrelmiller commented on #23
I was able to run existing the PCL DLL under CoreCLR (profile 259 is compatible) and I am in the process of fixing the Nuget right now.  Regarding parameter matching, I should have simple string parameters for path and query string working by Monday.

[2015-08-28 20:29] avanderhoorn opened #33 "Cleanup transportation layer"
Need to remove sockets and bring the resource that were pulled out back into their home projects.

[2015-08-28 21:04] avanderhoorn commented on #23
Sounds great mate! As you can see from the `GenerateUriTemplate` method above, the default case we are providing for users is fairly simple. That said, it is only used by the higher level API and users can still define their own templates for the lower level one. So having support for the higher level one is enough for now and as you get more coverage for the other cases, we can allow the lower le

[2015-08-31 18:24] avanderhoorn commented on #17
As an update to this... I just brought over the work that @rynowak did which sets up the ground work for our integration tests.

[2015-08-31 23:31] nikmd23 commented on #16
The last thing that needs to be done on this branch now is the switch over to making `Message.Payload` a JSON string of the full (?) message.

[2015-09-01 01:26] darrelmiller commented on #23
I just created a prerelease Nuget of UriTemplates that has a GetParameters(Uri) method that covers the basic scenarios that I believe you need.  http://www.nuget.org/packages/Tavis.UriTemplates/0.6.5-beta

[2015-09-01 03:05] avanderhoorn commented on #23
I'll look at brining these in tonight. Will update with how I get on.

[2015-09-01 06:06] avanderhoorn commented on #27
This isn't worth the change, and potentially has limiting problems if the user wants to span their own thread and flow the context. They couldn't do this in some cases with HttpContext but could with our own direct use of asynclocal/logical callcontext.

[2015-09-01 06:06] #27 closed, assigned to avanderhoorn

[2015-09-01 19:14] nikmd23 commented on #16
With the exception of tests, I think this now includes all the changes we've talked about. @avanderhoorn I'll let you inspect and :shipit:

[2015-09-02 22:23] #2 closed

[2015-09-02 22:50] #3 closed

[2015-09-02 23:49] avanderhoorn opened #38 "Switch agent broker over to new parallel pipeline"
Switching agent broker over to a new parallel pipeline which aims to leverage available workers to process messages as quickly as possible.

[2015-09-03 02:28] avanderhoorn commented on #38
Server broker has had it extension points removed. Need to talk about what we want to do there. Some minor cleanup to happen later.

[2015-09-03 02:30] avanderhoorn commented on #38
As a note, for the pipeline to work correctly, the Agent Broker is no longer sending `IMessage`s to the Agent Publisher. I don't like this in particular, but I'm not sure there is any way around this given that the Publisher needs to be able to control the context and not the Broker.

[2015-09-03 02:34] avanderhoorn opened #39 "Server Broker extension points?"
On the Agent Broker we have the ability for authors to be able to tap into the message pipeline on or off the request thread. Do we want the same type of capability with the Server Broker? Here it would be a bit different to the Agent side of things, as the Agent has access to the typed object and the server only has access to an `IMessage`. Is there any benefit of this, do we want to facilitate c

[2015-09-03 21:13] nikmd23 commented on #16
We should merge this in soon, it's blocking #25. Of course, it has to be rebased again, which I'll do now.

[2015-09-04 18:57] nikmd23 commented on #39
I could see a few reasons to have this in the future, but I don't think it's necessary now.

[2015-09-04 19:49] avanderhoorn commented on #39
Ok, so I'm going to remove the code that I have commented out for the moment.

[2015-09-04 19:49] #39 closed, assigned to nobody

[2015-09-04 19:52] avanderhoorn opened #40 "More advanced access control to server"
Currently the server has an extension point for controlling access to all resources - `IRequestAuthorizer`. This is a fairly basic extension point which takes in the given `HttpContext` and returns a `bool`. This is fine for the moment, but doesn't cover the various cases we have... i.e. access to the client vs an agents ability to post data to the server. We need to figure out what we want to do

[2015-09-04 20:55] avanderhoorn commented on #16
From what I can tell it looks good. There is a lot here, so if you want to pull it in and run it through with me at some point that would be good.

[2015-09-04 23:15] avanderhoorn commented on #39
I ended up putting this in, because the client publisher and store can probably use this hook themselves to this point.

[2015-09-08 04:19] avanderhoorn opened #41 "Add common extension methods off HttpContext for Resources"
Extension methods hanging off of context will be provided to perform common tasks such as `.ConfigureCors()`, `.ConfigureCaching()` or `.AddETag()`.

[2015-09-08 20:17] nikmd23 commented on #16
I'm happy to review this whenever is good for you.

[2015-09-09 18:53] nikmd23 commented on #4
This is being addressed in #40.

[2015-09-09 18:53] #4 closed

[2015-09-09 18:54] nikmd23 commented on #1
This issues has served its purpose, but is no longer necessary.

[2015-09-09 18:54] #1 closed

[2015-09-09 19:07] nikmd23 commented on #40
:shipit:

[2015-09-09 19:12] nikmd23 opened #44 "Finalize Networking"
We broke the back of this problem in #22, but now let's finish it off.

There's three things that need to be done for this issue to be complete:
1. [x] In process Agent/Server communication
2. [ ] `HttpClient` based Agent/Server communication
3. [ ] Server Sent Events based Server/Client communication

---

**NOTE:** This issue does not include any `IResource` implementations required, nor does it

[2015-09-09 19:47] nikmd23 opened #45 "Split MessageHistoryResource"
`MessageHistoryResource` should be split into a basic *history* resource and a more advanced *request-history* resource.

The biggest architectural question about these resources will be figuring out how to let a resource opt-out if its dependencies aren't met.

Suggestions thus far are:
- Throw an exception (which one/ones?) in the constructor if dependencies aren't met.
- Extend the type with an

[2015-09-09 20:30] nikmd23 opened #46 "Client Filtering"
The client must handle filtering of messages/requests.

This involves, but is not limited to:
- Determining which filters are available by checking for the _history_ and _request-history_ URI templates.
- Requesting and processing historical data.
- Subscribing to the message stream of appropriate message types.

---

**NOTE:** This issues does not include creating the filtering UI.

[2015-09-09 20:44] nikmd23 opened #47 "Integrate user-identification Messages Into Client"
The client should be able to receive and process _user-identification_ messages (added in #25) in order to correlate users with requests.

_user-identification_ messages include an avatar of the user (or [identicon](https://en.wikipedia.org/wiki/Identicon)). In cases where that image cannot be located (offline client), the image's `onerror` event should be captured and the `src` changed to somethi

[2015-09-09 20:50] nikmd23 opened #48 "Traditional Tabs"
In Glimpse 1.X, tabs in the UI were generated solely with C# by an `ITab` implementation which returned a serializable `object`. No JavaScript, HTML or CSS was needed.

In Glimpse 2.X, we need to maintain this model.

The suggestion for this work is to do the same thing, serialize some `object` returned from an implementation of `ITab`, and publish that object to the broker with a special type tha

[2015-09-09 20:50] nikmd23 opened #49 "Finalize Local Storage"
Local storage utilization needs to be finalized.

[2015-09-09 20:59] nikmd23 opened #50 "Initial Browser Agent"
The initial browser agent should be created to simply submit Navigation timing, Resource timing and User timing information.

In order for this to be completed, several pieces of infrastructure will need to be in place:
- The script tag injector must know the requestId to be able to add a `data-*` attribute.
- The browser agent must know the URL to post the data to.
- The resource that receives th

[2015-09-10 14:01] nikmd23 commented on #49
This issue was moved to Glimpse/Glimpse.Client.Prototype#6

[2015-09-10 14:01] #49 closed, assigned to avanderhoorn

[2015-09-10 14:02] nikmd23 commented on #47
This issue was moved to Glimpse/Glimpse.Client.Prototype#7

[2015-09-10 14:02] #47 closed, assigned to avanderhoorn

[2015-09-10 14:04] nikmd23 commented on #46
This issue was moved to Glimpse/Glimpse.Client.Prototype#8

[2015-09-10 14:04] #46 closed, assigned to avanderhoorn

[2015-09-10 14:05] nikmd23 commented on #44
This issue was moved to Glimpse/Glimpse.Client.Prototype#9

[2015-09-10 14:07] nikmd23 commented on #50
This issue was moved to Glimpse/Glimpse.Client.Prototype#10

[2015-09-10 14:07] #50 closed, assigned to nobody

[2015-09-10 18:00] nikmd23 commented on #45
In f48d5d8 I decided to go with the constructor approach (at least for now) for these reasons:
1. We'll have to catch exceptions thrown by any extension code anyways, including constructors.
2. If we went with the `IOptOut` approach, all calling code would have to follow this pattern:

[code]
3. The proposed `IOptOut.Reason` idea can still be leveraged, but will have to be pulled from `Exception.M

[2015-09-15 22:14] avanderhoorn opened #51 "Switch over IResource infrastructure to use URI Templates for param matching"
This should be fairly straight forward.

[2015-09-18 18:34] mike-kaufman opened #53 "Manually Serialize IMessage"
For performance reasons, we want to manually serialize IMessage rather than doing json serialization.

[2015-09-18 19:24] #53 closed, assigned to nobody

[2015-09-18 20:37] mike-kaufman opened #55 "Bug and data structures used by InMemoryStorage"
One issue with the current implementation of InMemoryStorage class is there's a bug in the logic that removes the "oldest" messages.  Current code is actually removing the most recent message.  You're choosing the message to remove from the tail of the array, but you always append to the list.

One simple solution is continue to use a List, but choose the head of of the array.  RemoveAll from the

[2015-09-19 21:05] avanderhoorn opened #56 "Setup message resources to work with targeting specific message types"
Need to setup messages resources so that we can target specific messages types for both stream and history. This might already be done and just needs to be documented/communicated. But this is so that that the client can ask from messages history/stream for specific message types. Currently they will get every message type.

[2015-09-22 19:27] avanderhoorn opened #58 "Heart beat for streaming message resource"
The current client SSE implementation needs a heartbeat to be published every 15 - 30 seconds:

https://github.com/Yaffle/EventSource/

[2015-09-22 23:08] avanderhoorn opened #59 "Remove Kestrel hack"
Currently Kestrel doesn't implement `IHttpConnectionFeature` which means that we can't get access to `IHttpConnectionFeature.IsLocal`. Hence for the moment I have put this bypass in place  bbcbdb0360024299be22314b110d21a3b0738a72... need to remove this.

[2015-09-23 20:03] mike-kaufman opened #60 "Add script to setup dev environment, including automation of dnvm/dnu resets"

[2015-09-23 20:03] mike-kaufman commented on #60
This comes up repeatedly, so I thought it would be useful to automate this as a cmd script.

[2015-09-24 00:57] avanderhoorn commented on #60
Looks good. Generally we don't need to create both an issue and a PR if we are intending to create a PR anyway like in this case. Starting with an issue is good if there needs to be discussion before starting.

[2015-09-24 18:26] mike-kaufman commented on #60
Cool.   Thanks Anthony.

[2015-09-28 22:19] #44 closed, assigned to avanderhoorn

[2015-09-29 11:28] promontis opened #63 "Is this package already pushed to a nuget feed?"
What the titles says :) Would like to use this and wondering whether it is already published

[2015-09-29 15:29] avanderhoorn commented on #63
@promontis Thanks for your interest! At the moment there still isn't that much to see. Most of this work represents getting the right hook points in place, making sure our data throughput is good, architecture is right, etc, etc. Work has begun on the UI but the UI is basically just showing raw "messages" there isn't any formatting of the data or anything like that. We are hoping to have a bit mor

[2015-09-30 04:24] #58 closed, assigned to nobody

[2015-09-30 04:39] avanderhoorn opened #64 "Can User-Identification message be fired at the beginning of the request"
Just wondering... I know there are edge cases where the user-identification needs to be set at the end of the request, but I'm wondering if there are any times when the message could be sent at the beginning?

Currently when one us looking at a slow request, we get the begin-request-message come in just fine, but there can be loing periods where we are waiting till the end-request-message to come

[2015-09-30 21:05] nikmd23 commented on #64
My thoughts:

Since inspectors are basically "just middleware", we're going to run into middleware ordering problems if we try to capture `user-identification` before the request's response. I think it's best for Glimpse to be the first piece of middleware installed for user simplicity, and greatest accuracy for the response time timer.

This means that the current implementation, is probably the

[2015-09-30 21:05] #64 closed, assigned to nikmd23

[2015-10-03 01:16] nikmd23 commented on #24
@avanderhoorn, this is getting close. Might be time for you to take a look at it too.

[2015-10-05 14:56] nikmd23 opened #65 "Code Review"
We've been running with this as a prototype for awhile.

Now that we've proved this idea can work, its time to review the code and see what changes should be made to get it ready for prime time.

We should be sure to cover at least:
- [x] Package, Project and Namespace Breakdown
- [x] Usage of Provider's
- [x] "Glimpse Intrinsics"
  - [x] What do we provide via DI
  - [x] Extensibility of intrinsi

[2015-10-05 14:57] nikmd23 commented on #63
Nothing else to see here. @promontis, please keep an eye on http://blog.getglimpse.com/ for announcements about releases.

[2015-10-05 14:57] #63 closed, assigned to nobody

[2015-10-05 15:02] nikmd23 commented on #60
Merged PR #61 to fix this issue.

[2015-10-05 15:02] #60 closed, assigned to nobody

[2015-10-05 15:03] nikmd23 commented on #56
@avanderhoorn, can you edit the initial comment to provide additional context on this issue? I'm not sure what needs to be done here.

[2015-10-05 15:05] nikmd23 commented on #55
This issue is being worked on in #62 by @mike-kaufman. I'm closing this issue in favor of that PR.

[2015-10-05 15:05] #55 closed, assigned to nobody

[2015-10-05 17:45] avanderhoorn commented on #56
Updated.

[2015-10-06 19:37] avanderhoorn opened #66 "Add offset to timing data"
For the timing data we have knowing the offset would be really handy as it has a finer degree of measurement than what trying to derive the data from start times - plus you don't always have the begin message to work from to derive the relative offset time.

[2015-10-12 20:09] nikmd23 commented on #51
I've found a small issue in Tavis.UriTemplates.

We could merge this in now, but users will get additional keys injected into their parameter dictionary. We may want to wait until tavis-software/Tavis.UriTemplates#29 is resolved.

[2015-10-12 20:09] #65 closed, assigned to nobody

[2015-10-13 22:32] nikmd23 commented on #51
I updated Tavis.UriTemplate to version 0.6.6-beta, which should resolve tavis-software/Tavis.UriTemplates#29, but I ran into a new issue documented at tavis-software/Tavis.UriTemplates#30.

[2015-10-14 14:27] nikmd23 commented on #51
tavis-software/Tavis.UriTemplates#30 has been fixed, so this PR is now working.

[2015-10-14 16:18] nikmd23 commented on #45
This PR is good to be pulled in, but will break the client. I'm working on fixing the client now - and hopefully I can embed a fixed client into this PR, and merge it all in together.

[2015-10-15 15:41] #56 closed, assigned to nobody

[2015-10-15 20:42] nikmd23 commented on #48
I've put together an initial crack at this implementation. A few notes:
- Users implement `ITab` providing a `Name` and `object GetData(HttpContext)` implementation.
- The results of `GetData` are automatically wrapped up in a `TabMessage`, which is published marking the message as a `tab` type.
- `TabMessage` also implements a new interface called `IMessageTypeProvider` and returns an enumerable

[2015-10-19 21:31] nikmd23 opened #68 "Create NuGet Packages"
The build script/source must be updated to create NuGet packages, including the "meta-package" necessary for an easy F5 experience.

Consideration should be given to how these packages replace or exist with existing 1.x NuGet packages.

[2015-10-19 21:34] nikmd23 opened #69 "Implement HUD"
HUD already has a stub implementation at `Glimpse.Server/Internal/Resources/Embeded/Client/hud/hud.js`, but it needs to be fleshed out.

This effort should basically mimic HUD from Glimpse 1.x, without:
- Support for AJAX
- Detailed pop-up's on mouse over

[2015-10-19 21:35] nikmd23 opened #70 "Show SQL Queries in Client"
SQL queries should be displayed in the client's execution tab.

Note, this effort will not necessarily match feature parity with the SQL features in Glimpse 1.x

[2015-10-19 21:38] nikmd23 opened #71 "Add Deep Linking Support to Client"
The client should support deep linking directly to a given request ID.

The current "HUD implementation" (the one that simply says "Open Glimpse") already passes over a request ID in the following RFC6570 format:

`/glimpse/client/index.html?hash={hash}{&requestId}`

[2015-10-19 21:42] nikmd23 opened #72 "Review Glimpse Configuration"
Let's review the current Glimpse registration (`appBuilder.Use*()`) and configuration, and streamline it as much as possible.

Currently, we've hard coded:
- The `/glimpse` base uri
- The number of requests for the server to store
- Others?

These hard coded configurations should be removed. Please add any others that you come across to this list.

[2015-10-19 21:46] nikmd23 opened #73 "Basic Browser Agent"
We've already completed the initial browser agent at Glimpse/Glimpse.Client.Prototype#10, so this issue should extend that functionality by sending the following data back to the `message-ingress` resource:

- [ ] Navigation Timing
- [ ] Resource Timing
- [ ] User Timing

[2015-10-19 21:48] nikmd23 opened #74 "Polish Client UI"
This issue is to track general UI polish that needs to be completed.

The only specific item on this list at the moment is:
- [ ] Adjust selected user up into header
- [ ] Title case the content type

Feel free to add more items to this list as they come up

[2015-10-19 21:50] nikmd23 opened #75 "Cross Platform Testing"
Test that Glimpse Server, Agent and Client work cross OS and Browser.

Of specific concern are OSX, Safari and IE.

HUGE bonus if we can get it running with multiple WFE's in Azure Websites

[2015-10-19 21:51] nikmd23 opened #76 "Implement Follow Mode"
The client should "follow" a selected user, so that new requests made by that user automatically appear, without the need to switch requests.

[2015-10-19 21:53] nikmd23 opened #77 "Inject Glimpse Scripts Without Razor Dependency"
For ASP.NET5 users who aren't using Razor, we may want to provide a solution that automatically injects the Glimpse script tabs via a wrapper around the response stream.

The following considerations need to be taken into account:
- if the content length has been set and the response has started (which we can check) then we WONT want to modify the response,
- if the content length has been set and

[2015-10-21 19:32] avanderhoorn commented on #73
Because of our initial timelines I'm suggesting that we leave out Resource and Using timing for the moment. Even if we did the work to pull out the data we aren't close the being able to show it.

[2015-10-21 20:27] nikmd23 commented on #73
I can get behind that

[2015-10-21 21:08] nikmd23 commented on #41
This PR is ready for feedback.

[2015-10-21 21:10] nikmd23 commented on #48
This PR is ready for feedback.

[2015-10-21 23:45] avanderhoorn commented on #48
Provided feedback, going to try and implement this as an inspector that explicitly implements `IInspector` in order to hide the `before`/`after` method and provide a simplified `GetData` method. This design is inline with what authors will expect from  glimpse1.x.

[2015-10-21 23:49] avanderhoorn commented on #41
Still not 100% sure about this as extension methods could achieve the same result with less code and infrastructure, but I can see that polluting the users intellisense is a concern.... just not sure if it warrants this much. But if that is a genuine concern I don't have a better solution.

[2015-10-22 00:05] avanderhoorn opened #78 "Stream resource is not letting go of request correctly"
Steam resource currently isn't letting go of requests correctly when the server is shut down. When using WebListener from the terminal, it reports that its waiting for a connection to terminate.

[2015-10-22 20:35] nikmd23 commented on #48
ITab is now `abstract class Tab : Inspector`.

There are two sample tabs implemented. This should be ready to merge.

[2015-10-24 04:52] avanderhoorn commented on #48
Looking at this, one thing that I can't help wondering is if having this style of tab is the best thing. Specifically, we haven't really stepped back and thought about if this is an extension we want to support going forward or if there is something better altogether. That said, I'm fairly sure we will end up back at this place, but part of me wishes we could mark this as experimental until we get

[2015-10-26 03:10] #66 closed, assigned to nobody

[2015-10-27 21:38] avanderhoorn commented on #71
Hud now opens up the glimpse clinet.

[2015-10-27 21:38] #71 closed, assigned to avanderhoorn

[2015-10-27 21:40] avanderhoorn commented on #69
HUD is in and done.

[2015-10-27 21:40] #69 closed, assigned to avanderhoorn

[2015-10-29 00:07] avanderhoorn commented on #76
Done

[2015-10-29 00:07] #76 closed, assigned to nobody

[2015-10-29 00:30] #68 closed, assigned to nikmd23

[2015-10-29 16:33] nikmd23 opened #80 "Rename Repositories"
We need to rename our repositories ASAP.

[2015-10-30 01:18] avanderhoorn commented on #80
Ya... need to look at the implications of that and what we need to do with
the "old" ones.

On 29 October 2015 at 09:33, Nik Molnar notifications@github.com wrote:

[2015-11-19 17:15] nikmd23 opened #82 "Glimpse Resources with 500 Responses: "Collection was modified; enumeration operation may not execute.""
This is a known issue that we are working to resolve.

The current workaround is to refresh the page in the browser.

[2015-11-19 17:17] nikmd23 opened #83 "Only the G in HUD Renders"
This only seems to happen when #82 is also in play.

Fixing #82 should resolve this problem, but we may want better error handing in HUD anyways.

[2015-11-19 17:21] nikmd23 opened #84 "Requests Missing or Delayed in Full Glimpse Client"
This is a known issue on IIS and IIS Express. It is not a Glimpse specific. Rather, it's a limitation/bug with [aspnet/IISIntegration](https://github.com/aspnet/IISIntegration/) and that team is [tracking it in their own issue](https://github.com/aspnet/IISIntegration/issues/7).

[2015-11-20 20:13] ajtowf opened #85 "'HttpContext' does not contain a definition for 'ApplicationServices'"
Saw Hanselman use glimpse on connect().
Tried following these steps first:
http://blog.getglimpse.com/2015/11/19/installing-glimpse-v2-beta1/
Didn't work out though, the HUD only shows the G, and the client doesn't seem trace db queries.

Checked out this repo, ran: build.cmd
and got the following error:
C:\dev\Glimpse.Prototype\src\Glimpse.Agent.AspNet\Inspectors\Tab.cs(20,63): DNXCore,Version=v5

[2015-11-20 20:23] khellang commented on #85
Yes. ApplicationServices was removed. See https://github.com/aspnet/HttpAbstractions/issues/466#issuecomment-158299983. This sounds like #83.

[2015-11-20 20:36] nikmd23 commented on #85
Sounds like you were building against the dev branch, which is forward looking to the next ASP.NET release. You'll have better luck with the release branch, which is what Hanselman demo'ed.

As far as your original issue (HUD only shows the G), does it look like known issue #83, or something different?

[2015-11-20 20:50] ajtowf commented on #85
Right, fixed it though, created a PR, no-brainer.

[2015-11-20 20:50] #85 closed, assigned to nobody

[2015-11-20 20:59] nikmd23 commented on #85
You're awesome. Thanks so much Ajden

[2015-11-21 23:00] lucamorelli opened #87 "gui not showing using aurelia"
Hi,
  I have and asp.net 5 rc 1 app running Aurelia beta1. I don't know if this may be a problem but running this application the glimpse gui is not shown, and after an Ajax call I have this error message inside vs

[code]

this happens with both chrome and internet explorer

[2015-11-22 18:20] nikmd23 commented on #87
Thanks for submitting this issue @lucamorelli.

Can you provide us with steps to reproduce the issue? If it's easier for you, you can give us a .zip of your project to look at.

[2015-11-22 20:18] lucamorelli commented on #87
Hi, I uploaded the solution at https://dl.dropboxusercontent.com/u/19486794/TestDrive.zip
The project is the **aurelia2** project: starting the project I don't see the glimpse ui, and if you navigate to the **attivita** page from the menu you can repro the error.
It's a big file: I uploaded all the files so I think you can run it quickly.

[2015-11-23 15:21] RehanSaeed opened #88 "Content-Security-Policy (CSP) Compatibility"
Please make it easier for Glimpse to be compatible with the Content-Security-Policy (CSP) HTTP header. This HTTP header does not allow inline scripts or styles but requires them to be in separate files unless you add a nonce or hash to the tag.

Secondly, please provide a method to get hold of the URL endpoints that Glimpse is using so that they can be added to the CSP policy whitelist.

I work on

[2015-11-24 16:51] nikmd23 commented on #88
@RehanSaeed, what CSP are you setting/is being violated?

Glimpse does not use any inline scripts. We've worked with @klings from NWebSec in the past to make sure the two were compatible - but perhaps there's been an update or regression we are unaware of?

[2015-11-26 07:38] KoalaBear84 commented on #83
I would love to try Glimspe, unfortunately this breaking change (https://github.com/aspnet/HttpAbstractions/issues/466) prevents me from using it.

Any idea when this could be resolved and published to NuGet? Thanks in advance.

[2015-11-26 22:32] Codenator81 opened #89 "On Ubuntu 14.04 don`t see panel"
When run on Ubuntu Kestrel server got script error:
Failed to load resource: the server responded with a status of 404 (Not Found)
http://localhost/glimpse/agent/agent.js?hash=a1dce6fc Failed to load resource: the server responded with a status of 404 (Not Found)

But I serving http://codenator.org not localhost ))

On localhost works ok http://screencast.com/t/tmZ7IRtAK

You can test it on http:/

[2015-11-29 14:06] RehanSaeed commented on #88
The MVC 5 project template required a few exceptions to be made for Glimpse and BrowserLink which also has the same problems which you can see [here](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/blob/master/Source/MVC5/Boilerplate.Web.Mvc5.Sample/App_Start/FilterConfig.cs). NWebSec does not exist for ASP.NET 5 yet but I know @klings is working on it with RC1. If you look at the above code

[2015-11-30 02:01] emyann commented on #77
Hi @nikmd23 , I would like to know if you have already started to address this issue / enhancement of the GlimpseAgentMiddleware ?
I've just installed the 2.0.0-beta1 version along with aspnet5-1.0.0-rc1 and the client works like a charm on a web api ! That would be great if we could have the HUD directly injected in the page when we browse api responses or HTML's static pages.
I searched through

[2015-11-30 04:14] damienpontifex opened #91 "ScriptInjector overwriting all PostContent"
When adding the scripts for Glimpse in [ScriptInjector](https://github.com/Glimpse/Glimpse.Prototype/blob/dev/src/Glimpse.Agent.AspNet.Mvc/Razor/ScriptInjector.cs#L24-L26) and using `PostContent.SetHtmlContent` any other tag helpers that append to PostContent for the body tag are getting overwritten.

Could this be changed to `output.PostContent.AppendHtml` to play nice wither others using the Pos

[2015-11-30 13:19] rionmonster opened #93 "Accessing User / Identity Information within AllowClientAccess in .NET 5"
I've been attempting to integrate Glimpse into a small .NET5 application that I have been running in production for some time now and have appeared to hit a minor speed bump.

I'm trying to enable / disable the Glimpse HUD on a by-user basis. After [a lengthy discussion of the issue with Nik on Twitter](https://twitter.com/nikmd23/status/669648510074007552), we determined that this would be the be

[2015-11-30 16:51] avanderhoorn commented on #93
This is definitely a use case we would expect to work. What happens if you shift your authentication middleware to run before Glimpse? To test this, you should be able to move it above the `app.UseGlimpse()`. My guess is that you have Glimpse running first and its the auth middleware that populates the `httpContext.User` part of the context, hence it needs to run first. Let me know how that goes.

[2015-11-30 17:18] #89 closed, assigned to nobody

[2015-11-30 17:19] Codenator81 commented on #89
I think problem where in browser cache/ Can`t reproduce any more

[2015-11-30 17:36] rionmonster commented on #93
It appears that adjusting the order resolved it.

Previously I had attempted to strictly place the `app.UseGlimpse()` and `services.AddGlimpse()` calls either at the top or the bottom of their respective methods, which didn't appear to work. I ended up with the following :

[code]

and

[code]

This appears to resolve the issue as I can now actually access the `User.Identity.Name` as expected, whi

[2015-11-30 17:52] avanderhoorn commented on #89
Humm thats still really weird as I got the issue when I went to http://codenator.org. Let me know if it happens again.

[2015-11-30 18:08] avanderhoorn commented on #93
Great to hear! The order of `ConfigureServices` shouldn't matter, the `Configure` order is the important one as that actually effects the execution order.

On the https front are you wanting to do this locally or remotely?

[2015-11-30 18:09] #93 closed, assigned to nobody

[2015-11-30 18:17] avanderhoorn commented on #88
So we are only making requests back to localhost... why does the default Production Policy lock down all localhost scripts, whats the idea with that as a default?

[2015-11-30 18:20] avanderhoorn commented on #83
@KoalaBear84 This issues is tracking a different problem to what you are describing, so it really should be shifted to a different issue, but your issue has already been fixed on the `dev` branch (see #86). Currently we are working on making an actual package available which has the fix, no exact eta on that but should be in the next week or two.

[2015-11-30 18:20] rionmonster commented on #93
As of right now - locally. However, remote usage would likely be something that I could be interested in.

[2015-11-30 18:24] avanderhoorn commented on #93
The reason I ask is that currently there is a hack that would make it work, but it forces the `HttpMessagePublisher` to be used rather than the `InProcessPublisher`. For dev time, this isn't that big of a deal, but in prod, this isn't optimal unless you have more than one web server front end. If you still want to go ahead, let me know and I can walk you though it, in the mean time, create a separ

[2015-11-30 19:24] RehanSaeed commented on #88
The most secure way to use CSP is to block everything using default-src none and then allow only the things you need like images, scripts, styles, ajax etc. individually.

I discussed this with @klings the creator of NWebSec, he recommended the above approach for best security (Thats the point of CSP it after all) and thats the approach I took.

[2015-11-30 21:01] peterblazejewicz commented on #75
:+1:
Can somehow help with this? (OS X)

[2015-11-30 21:11] klings commented on #88
I do remember Glimpse was tweaked back in the days, so that it would play nicely with CSP: Glimpse/Glimpse#631 (which was awesome, not all libraries do that)

Funny enough, an issue surfaced the other day related to Glimpse and CSP: NWebsec/NWebsec#75. I'll ping @monotore and try to figure out which versions they're on and what the issue was.

@RehanSaeed The way I interpret this, you'd want Glimp

[2015-11-30 21:13] bbuczek opened #94 "hud.js"
I see this error after we installed Glimpse. "Glimpse": "2.0.0-beta1",

SCRIPT5009: 'praseInt' is undefined
hud.js (3,17550)

I checked the source code here and I see that it is with error.
path:
Glimpse.Prototype / src / Glimpse.Server / Internal / Resources / Embeded / Client / hud / hud.js

line number 5957
// trying to avoid negitive values showing up
5956        if (server <= 0) {
5957

[2015-11-30 22:12] Codenator81 commented on #89
@avanderhoorn Still have same bugs. For example on localhost I can see action controller but with domain name action just undefined

[2015-11-30 22:52] avanderhoorn commented on #75
@peterblazejewicz Would be great to know that you can run it on your project in OSX. Also, if you are interested in getting the source, knowing that you can build it from source, run it, debug it, etc. Also if you can run the different samples (i.e. Agent and Server in the same process vs Agent and Server being in different processes).

[2015-11-30 22:59] nikmd23 commented on #75
I'd also like to know how it works with other web servers. Are you just using Kestrel, or Apache, NGINX or something else?

[2015-11-30 23:05] avanderhoorn commented on #88
More than happy to see what we can do to help! Like @klings said, I'm not that keen in manually setting the header as it will probably result in us getting into a chicken and egg scenario where its difficult for us to consistently get it right. I kinda get the idea behind having everything (even localhost) locked by default, but it certainly restricts/complicates things slightly. What would be rea

[2015-11-30 23:06] avanderhoorn commented on #94
Great catch! Not sure how that happened. Static typing for the win! Unfortunately/fortunately this is the first report bug so, do fix yet.

[2015-11-30 23:12] nikmd23 commented on #77
Hi @emyann!

Thanks for showing interest in contributing to Glimpse.

We have not started this work. We have [a similar idea in Glimpse v1](https://github.com/Glimpse/Glimpse/blob/master/source/Glimpse.AspNet/PreBodyTagFilter.cs) that might serve as a starting point.

As far as where this would be implemented in Glimpse v2, I would think we'd start by looking at [`GlimpseAgentMiddleware`](https://

[2015-11-30 23:18] nikmd23 commented on #87
Thanks for making this easy on us @lucamorelli.

I've downloaded your `.zip` file, but when I try to extract it I get an error saying "The Compressed Folder is invalid."

Can you try again? Perhaps this time just include the source, and I'll restore the packages before I try to run the project.

[2015-11-30 23:24] #91 closed, assigned to nobody

[2015-12-01 05:27] lucamorelli commented on #87
Can you retry now? Finally I found the problem.
FYI the gulp node modules installed by the project template contains some file or/and path too much long for compressed folders. windows 10 compressed folders fails silently, windows 7 compressed folders give the error, sevenzip creates the file

[2015-12-01 06:35] peterblazejewicz commented on #75
@avanderhoorn
I've been trying to just run forked repo sample projects on OS X, adding some changes (e.g. enforcing beta8/RC1 Kestrel web server only) - but I never succeeded. The project runs for few moments and then quits, e.g. complaining about missing `httpApi` if I remember well (sorry, I'm at work with PC).
I've seen you've made a branch for `beta8`, but I assume that during Connect() other

[2015-12-01 20:51] nikmd23 commented on #87
Hi @lucamorelli.

Thanks for updating the `.zip`.

I know why Glimpse isn't showing up for you. It looks like you aren't using Razor. ATM Glimpse only injects the script tags on Razor. We're looking at fixing this in #77.

As far as the exception you mention, I am unable to replicate that. Everything seems to be working okay.

I will tell you, though, that if you open your app and go to `/glimpse/

[2015-12-01 21:25] lucamorelli commented on #87
even after installing update 1 I have the exception, if of help I see this in diagnostic tools

Activated   Event   Time    Duration    Thread
    Stopped at Exception: **OnBeforeActionResult**  32.83s  32,840ms    [19116] Worker Thread

Do you this that adding the source from the repo to the solution I can try to run it from sources and to see where is the problem?

[2015-12-01 22:18] klings commented on #88
I agree, I think there are scenarios where this would be impossible to get right without tight coupling between libraries, and tight coupling would only cause trouble for all of us. The NWebsec middleware sets the headers before invoking the next middleware (since @nikmd23 wants to flush early), which means that other libs/middleware that need to signal changes to CSP will have to run in advance f

[2015-12-01 23:06] nikmd23 commented on #87
You can totally add the sources to the solution and test. In fact, I would greatly appreciate that since I can't replicate.

Just be sure to use the [`2.0.0-beta1` tag](https://github.com/Glimpse/Glimpse.Prototype/tree/2.0.0-beta1).

[2015-12-02 09:00] RehanSaeed commented on #88
To recreate the CSP violations, create a new ASP.NET 5 application and try adding the following line to the Index action:

[code]

You will get the following CSP violations in Chrome:

[code]

The first one is Browser Link (It uses a different port so `script-src 'self'` does not work) but the others are Glimpse errors. I could add the `unsafe-inline` directive to fix Glimpse in development but it

[2015-12-02 13:29] lucamorelli commented on #87
this is the first result
![untitled](https://cloud.githubusercontent.com/assets/127777/11532003/1f160328-9901-11e5-8a90-ed0f5752e853.png)

tried to change to
var objectResult = _proxyAdapter.Process<ActionResultTypes.IObjectResult>("Microsoft.AspNet.Mvc.ObjectResult", result);
but same result

[code]

inspecting proxiedType I see
![untitled](https://cloud.githubusercontent.com/assets/127777/115328

[2015-12-02 16:28] avanderhoorn commented on #88
In the case where, Glimpse runs before NWebsec, one options would be for us to modify the header manually before NWebsec. The problem is knowing whether NWebsec is in play, but we could probably have a setting which the users sets in the case they want us to add the CSP headers. Even if we did this, the thing I'm not 100% clear on is what if Glimpse modifies the CSP header and then another library

[2015-12-02 16:51] avanderhoorn commented on #87
The line `var objectResult = _proxyAdapter.Process("Microsoft.AspNet.Mvc.ContentResult", result);` should definitely be `var objectResult = _proxyAdapter.Process("Microsoft.AspNet.Mvc.ObjectResult", result);`... I would have thought that given that change, things would just work for your, but you mentioned that you already changed it and had no luck. I'm wondering what happens if you comment out t

[2015-12-02 17:05] lucamorelli commented on #87
ok, I'll give a look and try

[2015-12-02 18:00] lucamorelli commented on #87
Commenting that case I have no more errors: looking to the log I find this

![untitled](https://cloud.githubusercontent.com/assets/127777/11539354/ea96942a-9926-11e5-9fbf-8e523793f675.png)

![untitled2](https://cloud.githubusercontent.com/assets/127777/11539356/ed8638b6-9926-11e5-9c47-2c1d6696d055.png)

[2015-12-03 17:29] RehanSaeed commented on #88
I think modifying headers is going to be a problem. Ideally there needs to be communication between the Glimpse and BrowserLink teams to come up with a common approach.

I think the errors are caused by hud.js dynamically adding lots of inline styles. I still see a few solutions even with no code changes:
- Linked to the styles instead of dynamically adding them in JavaScript. Then use documentati

[2015-12-07 04:53] avanderhoorn opened #96 "Modify IResource.Parameters"
I propose that we update `IResource.Parameters` from an `IEnumerable<ResourceParameter>` to `string`. Currently, most of our `IResourceStartup`s are implemented because they want a custom Template. We can still support `IEnumerable<ResourceParameter>` but the user will call `parameters.GenerateUriTemplate()` to produce the template in order to provide a `string`. This means more often than not we

[2015-12-08 08:27] RehanSaeed opened #97 "What Order Should Glimpse be Added"
If I have a project using Glimpse, what would be the ideal order to add Glimpse? I believe that order doesn't matter in `ConfigureServices` but does in `Configure`. Suppose I am using Application Insights, Glimpse, IIS Platform Handler, Static Files, MVC etc. As far as I understand it, all of these (except MVC) compete to try to be first in the pipeline.

[2015-12-08 19:12] nikmd23 commented on #96
I can get behind this. Let's do it.

[2015-12-09 23:42] klings commented on #88
So, I just had a look at what's going on with the 2.0.0-beta1. Similar to the old issue, Glimpse/Glimpse#631, I created a new ASP.NET 5 application based on the VS template and added Glimpse to it as well as the CSP header:

[code]

This messed up the styling of the Glimpse link on the page, and gave med two CSP errors.
![image](https://cloud.githubusercontent.com/assets/938299/11701419/bd005df8-9

[2015-12-21 02:29] atrauzzi opened #98 "An unhandled exception has occurred: Object reference not set to an instance of an object."
Just tried adding Glimpse to the default scaffold of an ASP.net 5 project.  Ending up with this exception when I host using kestrel:

[code]

The browser ends up getting an empty response back.  This happens both on Windows and Linux when running `dnx web`.  However when I host via the integrated IIS in Visual Studio, glimpse is able to run.

[2015-12-24 16:05] joeaudette opened #99 "what is the integration point to track ado.net queries"
I have a project I'm working on that has a pluggable data layer. When I use the one implemented with Entity Framework 7 then glimpse shows me the number of DB queries generated by the web request.
When I use old fashioned ado.net code glimpse is not showing me the number of db queries. I'm trying to figure out what I need to change in my ado.net code so that glimpse will be able to see the queries

[2016-01-07 17:30] ciel opened #101 "Cannot get the HUD to appear"
I've followed the installation instructions to the letter for Glimpse v2 beta1, and I get..... !

_nothing_. A lot of nothing. I'm not even sure how to begin diagnosing this. I see no errors, no reports of problems, nothing. Running ASP.NET 5 RC1.

I don't even know what information you need. I'm fairly lost, unfortunately.

[2016-01-11 16:08] ddotlic opened #102 "NullReferenceException when conditionally calling UseGlimpse"
We're seeing something rather unexpected - if we call `services.AddGlimpse()` but then don't call `app.UseGlimpse()` - for example, because we're running in a production environment - the site crashes.

The error is it appears identical to the one observed in this bug: #98

Since the call to `AddGlimpse()` (made in `ConfigureServices`) cannot be avoided by an `if` in an easy manner (the criteria w

[2016-01-13 18:20] victorhurdugaci opened #103 "Change to build to use dotnet"
At a minimum, you have to upgrade a few scripts and project.json files just like here: aspnet/Configuration@9cfd22f

[2016-01-21 23:48] nikmd23 commented on #103
With commit 6bae0df2145d4022347a086186941e66c734231a, this should be good to go now.

[2016-01-21 23:48] #103 closed, assigned to nobody

[2016-01-26 15:06] KoalaBear84 commented on #101
Yes. Me too, I'm also lost. Also see this thread. Currently also no response. I also tried the manual way, but failed.

https://github.com/Glimpse/Glimpse.Prototype/commit/0a28805298e7002ed1124c53cd914519b8248c0f#commitcomment-15430857

[2016-01-31 21:06] KoalaBear84 opened #104 "ASP.NET 5.0 -> ASP.NET Core 1.0 compatibility / installation"
I cannot get Glimpse to work with the new ASP.NET version. I know Scott Hanselman showed it in a video. But that was around beta 5 or so I guess, long ago.

I tried building the master and dev branch, both not working. And with the Glimpse from original Nuget I get the problem that I only see the "G", but no HUD, which is already a known issue #101 etc.

I've also tried the following package sourc

[2016-01-31 21:53] avanderhoorn commented on #104
We haven't yet done the refactoring to go from ASP.NET 5.0 -> ASP.NET Core 1.0. Expect this to happen and hit the feeds this week.

[2016-01-31 22:49] KoalaBear84 commented on #104
OK. Thanks for the update!

[2016-02-13 05:01] avanderhoorn opened #105 "[Messaging] Investigate use of LRU based store"
The platform has been updated to LRU based message store cache. This implementation needs to be updated to reflect this change. See - Glimpse/Glimpse.Node.Prototype#77 @philliphoff
- [ ] Determine what the currently functionality is and how it differs from the current Node implementation
- [ ] Determine viability of using 3rd party LRU cache to back store

[2016-02-14 02:29] mike-kaufman commented on #105
This is already done for the in-memory store.  Were you thinking of something else?

[2016-02-19 15:19] avanderhoorn opened #106 "[HttpServer] Validate currently captured data"
Validate that all required data points are currently being captured:
- [ ] Integration test that validates against schema
- [ ] For any data that can't be captured, document the limitation

[2016-02-19 15:23] #70 closed, assigned to avanderhoorn

[2016-02-19 16:12] avanderhoorn opened #107 "[Middleware] Initial prototype/investigation work"
Investigate how to “observe” asp.net middleware pipeline (inc. prototype and most basic UI):
- [x] Review the current Diagnostic Source messages currently in place
  - [x] Including the data which is currently being included
  - [x] Validate that the we can publish the defined Middleware messages
  - [x] Review how names are derived for different ways that Middleware can be registered
- [ ] Publis

[2016-02-19 16:52] avanderhoorn opened #108 "[Mongo] Initial prototype/investigation work"
Investigate how to tap into the operations being performed (existing logging vs DS, get feedback):
- [ ] Determine what logging is currently in place
  - [ ] Evaluate different ways of being able to get the execution data out
- [ ] Publish initial messages through message bus _(prototype)_
- [ ] Validate that messages show in the client under the messages tab _(demo)_

[2016-02-20 00:32] avanderhoorn opened #109 "[Logging] Initial prototype/investigation work"
Investigate how to “observe” console.log (inc. prototype and most basic UI):
- [ ] Investigate exactly how we want to tap into [`Microsoft.Extensions.Logging`](https://github.com/aspnet/Logging), most likely via an ILoggerProvider returning an ILogger
  - [ ] Determine what additional data we can get out of this API (i.e. statement parameters)
- [ ] Publish initial messages through message bus _(p

[2016-02-21 22:12] avanderhoorn opened #110 "[Mongo] Instrument operation methods retrieving basic data"
Instrument operation methods to publish required messages with minimal data set:
- _Exact scope and method for how the details will be retried determined by #108_

[2016-02-21 22:18] avanderhoorn opened #111 "[Mongo] Enhance instrumentation with additional data"
Enhance published messages with additional data points (i.e. options):
- _Exact scope and method for how the details will be retried determined by #108 #110_

[2016-02-21 22:29] avanderhoorn commented on #107
This will help - https://github.com/aspnet/Diagnostics/pull/207

[2016-02-21 22:47] avanderhoorn opened #112 "[Middleware] Instrument operation methods retrieving basic data"
Instrument pipeline to publish required messages with minimal data set:
- _Exact scope and method for how the details will be retried determined by #107_

[2016-02-21 22:50] avanderhoorn opened #113 "[Middleware] Enhance instrumentation with additional data"
Enhance published messages with additional data points (i.e. side effects):
- _Exact scope and method for how the details will be retried determined by #107_

[2016-02-24 16:37] dazinator opened #114 "Multiple DbContexts - only logging one of them"
In My application, I have 2 DbContexts, defined in seperate projects.

I have noticed that when accessing a page that utilises both of these dbcontexts to perform some query, only one of the dbcontexts is being captured by Glimpse:

![image](https://cloud.githubusercontent.com/assets/3176632/13292503/e95665d4-db13-11e5-8ee7-93a0fa68872f.png)

(CompanyMenu VC is atually performing a long running EF

[2016-02-24 17:07] dazinator commented on #114
I have figured out the cause of this issue.

It's to do with the way the other DbContext is registered and resolved.

If you register it like so:

[code]

and then inject `SomeDbContext` into things, then Glimpse picks it up and it works. However if you define an interface for your context, and resolve it against that interface instead, then Glimpse doesn't pick it up - i.e:

[code]

And then inje

[2016-02-24 17:42] dazinator opened #115 "Displays even on non localhost requests"
Having read: http://blog.getglimpse.com/2015/11/18/glimpse-v2-beta1-released I thought I would give Glimpse a go. I have noticed that even after deploying my application to seperate web server, and browsing it from a seperate machine (through a non localhost url) - glimpse hud still shows. The article made the impression that it would only show for local requests.. what could be going on?

In the

[2016-02-25 14:55] avanderhoorn commented on #114
@anpete any idea why we might be missing events in this use case?

[2016-02-25 17:01] dazinator commented on #114
Im not sure if this makes a difference but I am also using autofac as the underlying ioc container,  rather than the default one provided by microsoft. I suspect you can replicate this in either scenario but i havent checked.

[2016-02-26 01:25] avanderhoorn opened #116 "[Results] Validate currently captured data"
Validate the data that we are currently capturing for results/views and that we are matching the schema for routes.
- [ ] Determine what we can do for results vs views (currently only showing views)
- [ ] Integration test that validates against schema
- [ ] For any data that can't be captured, document the limitation

[2016-02-26 01:25] avanderhoorn opened #117 "[Routes] Validate currently captured data"
Validate the data that we are currently capturing for routes and that we are matching the schema for routes.
- [ ] Integration test that validates against schema
- [ ] For any data that can't be captured, document the limitation

[2016-02-26 19:12] avanderhoorn opened #118 "[HttpServer] React to breaking Web schema changes"
As per [this](https://github.com/Glimpse/Messages/pull/8/files) update we have some breaking schema changes coming down. This means changes to at least the following sections of the app:
- [ ] Update the Http Inspector to reflect the new schema property name

[2016-03-01 06:42] ScorchedHands commented on #99
I'm looking for the same thing.  I have alot of ADO code that I'd like to profile.

[2016-03-01 15:44] avanderhoorn commented on #99
At the moment we don't have this extension point built. The intention is that you shouldn't have to do anything manually here as we are working with the ado.net team to instrument it as low down as we possibly can. The end result is that it will just work and the numbers show up regardless of if you are using EF or not.

[2016-03-01 23:17] avanderhoorn commented on #106
This is being pushed back to the end of M001 or the begining of M002

[2016-03-02 21:41] avanderhoorn commented on #107
**Background:**
- Need to add service registration for `services.AddMiddlewareAnalysis();` see [here](https://github.com/aspnet/Diagnostics/blob/82e1bcf2614e42d0f33a3243e259a17fb4032ef6/samples/MiddlewareAnalysisSample/Startup.cs#L16)
- The events we are listening for are:
  - `"Microsoft.AspNet.MiddlewareAnalysis.MiddlewareStarting"` - runs before things run (args: name, httpContext)
  - `"Micros

[2016-03-02 21:46] #107 closed, assigned to avanderhoorn

[2016-03-09 18:49] Software-Princess commented on #101
Did you try adding the javascript file to the html page?

`<script src='/Glimpse/Browser/Agent' id='glimpse' ></script>`

[2016-03-10 08:08] KoalaBear84 commented on #101
Hmm. Never saw that piece of code anywhere.

For now I will wait until there is a published version onto a NuGet source. Or is there one already for ASP.NET Core MVC?

[2016-03-11 20:46] avanderhoorn commented on #106
For what is in scope for this milestone given current priorities, this is done.

[2016-03-11 20:46] #106 closed, assigned to avanderhoorn

[2016-03-12 19:49] mkarlsson opened #120 "Glimpse runs not just on localhost"
I get Glimpse UI bar at the bottom on staging and production as well. How do I control this? I just added the nuget package and app.UseGlimpse(); in Configure method and  services.AddGlimpse(); in ConfigureServices.

[2016-03-18 15:23] #118 closed, assigned to avanderhoorn

[2016-03-22 11:42] kadralievr opened #121 "Configure to work within IIS application (virtual directory)"
Hi,
i added Glimpse into my asp.net mvc 6 app as described in this blog article: http://blog.getglimpse.com/2015/11/19/installing-glimpse-v2-beta1/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+getglimpse+%28Glimpse%29,- and published my app to IIS application: `http://localhost/client`
And Glimpse doesn't work, i have errors with loading resources:

[code]

i.e. resources are loaded

[2016-04-08 11:58] MathiasKowoll commented on #104
Is there any updates on Glimpse over ASP.NET Core 1.0.??

[2016-05-23 06:52] skorunka commented on #120
Hi, try "if (env.IsDevelopment()) { .... }" in your ConfigureServices((IServiceCollection services, IHostingEnvironment env) and Configure(IApplicationBuilder app, IHostingEnvironment env) methods.

[2016-05-23 06:56] mkarlsson commented on #120
I was under the impression it was supposed to work anyway?

[2016-05-26 17:38] joeaudette opened #123 "RTM support?"
wondering when glimpse will be available for aspnetcore RTM?

[2016-05-31 09:25] alyiox opened #124 "How to create an extension to diagnose MongoDB?"
How to custom the DBQuery feature ?

[2016-06-05 08:40] Noeek commented on #123
up

[2016-06-08 16:26] dazinator commented on #123
same - any news on a beta 2?

[2016-06-14 01:28] #124 closed, assigned to nobody

[2016-06-22 07:01] alyiox opened #125 "System.NullReferenceException: Object reference not set to an instance of an object."
**Question**: How to handle this exception ?

[code]

[2016-06-22 10:59] alyiox commented on #125
HI,

It just happens when I publish my web application and host it on IIS.

And, finally, I found the magic,

[code]

[2016-06-22 15:52] avanderhoorn commented on #123
Sorry for the delay in response. We will hopefully have a build of Glimpse out that works on RC2 in the next few weeks. I'll keep this post updated as work progresses. Thanks for your patience!

[2016-06-22 16:01] joeaudette commented on #123
RTM ships on June 27, so you might as well skip an rc2 version at this point unless it also will support RTM

[2016-06-22 16:04] avanderhoorn commented on #123
Thats the plan.

[2016-06-22 16:13] dazinator commented on #123
The problem is, lots of things changed between RC1 and RC2 projects - project.json schema changes, .xproj file changes, global.json file changes, not to mention package and code changes.

Microsoft have said that they will provide an automatic upgrade experience from RC2 based solutions to RTM. Not from RC1.

So I think this will still leave a lot of manual effort to upgrade. I personally have dec

[2016-06-22 16:14] avanderhoorn commented on #123
The current plan is to update the code to RC2 first, tag it and then start the work for RTM. Depending on the time it takes and if it makes sense, we will release the RC2 version before the RTM.

[2016-06-22 16:16] dazinator commented on #123
Awesome. Feel free to try my RC1 to RC2 upgrade tool out if you like. https://github.com/dazinator/AspNetRC1toRC2UpgradeTool

[2016-06-23 03:25] #125 closed, assigned to nobody

[2016-06-25 10:59] skorunka commented on #120
I don't think so. You have to control if to add Glimpe into app pipeline or not.

[2016-07-01 18:51] dudango opened #128 "Not compatible with ASP.NET Core release"

[2016-07-01 19:13] avanderhoorn commented on #128
Duplicate of #123

[2016-07-01 19:13] #128 closed, assigned to nobody

[2016-07-01 19:15] avanderhoorn commented on #123
Work on this officially starts on Monday. Hopefully wont take more than a week or two. Hard date for completion is the end of the month - there are other things happening which means the work can't go past that. So coming soon :D

[2016-07-20 22:10] avanderhoorn commented on #123
If you haven't noticed work is starting to be checked in here https://github.com/Glimpse/Glimpse.Prototype/tree/avanderhoorn-rtm-update

[2016-07-26 23:12] avanderhoorn commented on #123
Well its here. I've got a version of everything updated to be compatible with RTM. If people could try it out and give me feedback on whether everything works as expected, I can get things updated on nuget. Here is the current feed - https://www.myget.org/gallery/glimpseprototype.

[2016-07-27 11:58] WolfspiritM commented on #123
Thanks!
I tried using it by downloading the MusicStore sample and adding the feed to the nuget.config but it doesn't work correctly for me.
I had to remove dotnet core and needed to compile for net451 cause netcoreapp1.0 gave me:
Can not find compilation library location for package 'Glimpse.Agent.AspNet.Mvc' (might be something on my end?)
For 451: It does compile without errors but when opening

[2016-07-27 13:49] avanderhoorn commented on #123
Thats really weird... I just cloned down music store myself and it ran just fine.

My project.json look like:

[code]

And my startup.cs looks like:

[code]

Are you able to confirm that your setup is similar?

[2016-07-27 14:56] WolfspiritM commented on #123
I have the following as dependency but VS shows me that 2.0.0-beta2-201607261439 is the installed Reference so it should be fine.

[code]

I can confirm that Startup.cs looks like that.

I now checked a bit what happens. It seems like the result from context is wrongly formatted for me. "$.getJson" is not returning and that makes the HUD completly not render. I then checked the result of:
`http://

[2016-07-27 17:32] avanderhoorn commented on #123
Ya thats really weird... let me know how you get on.

[2016-07-27 20:16] WolfspiritM commented on #123
So after some debugging I think I figured out what the reason for the missing HUD is!
I don't think it has anything to do with the move to RTM as I have never used Glimpse before and it seems like it just would never have worked. So I'm sorry to "spam" this issue with an unrelated problem.
The Reason is that I'm running on a German System.
That means ToString() will convert for example a float 1.2

[2016-07-27 20:19] KoalaBear84 commented on #123
This could be the problem as I never got the previous version working on MVC5, Dutch over here. But I do have as much as possible set to English.

I will check the new version out soon.

[2016-07-27 20:30] WolfspiritM commented on #123
@KoalaBear84 I also have that most things to english but somehow this is set differently.
What helped as a workaround to get the nuget package working (for net451) is:
Region & language settings -> Additional date, time, & regional settings -> Under Region: Change date, time, or number formats -> Formats tab: "Additional settings..." ->Switching the Decimal symbol from "," to "."
Didn't require an

[2016-07-27 20:38] KoalaBear84 commented on #123
Thanks, it looks like the format was still in Dutch. Will work much better in English indeed.

[2016-08-02 11:25] avanderhoorn commented on #123
WOW!!! Great pickup guys and thanks so much for tracking that down. I would never have guessed that. I'll make the fix and get an update onto the feed hopefully in the next 24hrs or so. Will let everyone know when it goes up. My thinking is that this shouldn't effect people using english based systems.

[2016-08-02 16:51] CaptainCow95 commented on #123
FYI, it looks like you still need to update the main .nuspec file with netstandard entries. It fails to install on a .Net Core application unless you add an import for dnxcore50. The individual packages install fine, it is just the main Glimpse package that doesn't seem to install correctly.

[2016-08-02 21:34] avanderhoorn commented on #123
@CaptainCow95 good catch, I'll update it as part of the next drop.

[2016-08-07 15:17] madmashine commented on #104
I would also like to know is there any updates on Glimpse for ASP.NET Core 1.0? Until when it is suppose to arrive?

[2016-08-17 17:22] DerekWood commented on #123
Is 2.0.0-beta2 going to be available for net452 framework?  It does not appear to be today as I get an error from nuget trying to resolve the references when I put:

"Glimpse.Agent.AspNet.Mvc": "2.0.0-beta2-201607261439",
"Glimpse.Server": "2.0.0-beta2-201607261439",

in my project.json.

[2016-08-18 03:44] scionwest commented on #104
+1 - Any updates on this?

[2016-09-05 02:05] ilennert commented on #104
I really liked Glimpse!  ASP.NET Core 1.0 is released.  I hope this isn't news.

[2016-09-23 08:43] KLuuKer commented on #123
Since miniprofiler has no build for .net core, I would love to see glimpse supporting the rtm build

[2016-09-29 06:37] karldodd commented on #123
Any updates?

[2016-09-30 15:50] mike-kaufman commented on #108
Closing this as it no longer reflects known work to be done.

[2016-09-30 15:50] #108 closed, assigned to mike-kaufman

[2016-10-04 13:58] DerekWood opened #131 "EF6 Support"
Are there any plans to put EF6 support into this version of Glimpse?  If not, is there going to be a way to add custom timing messages to the Glimpse output?

[2016-10-05 00:43] alaatm commented on #123
Is this still alive? Last commit about 2 months ago!

[2016-10-06 18:09] shaunluttin opened #132 "Use Glimpse with an API Controller Action."
Our app shows the HUB when a controller action returns a `View()` but not with when it returns `Json()`.
- Does Glimpse support display of the HUB in actions that return only `Json()`?
- In other words, does Glimpse require a `View` in which to render its HUB.

[2016-10-06 18:19] avanderhoorn commented on #132
To render HUD, yes it needs HTML to inject itself into. That said you should still be able to access the full client by going directly to the client URL (HUD provides this link when you click in the "G") and from there you should see both Json and Html based results.

[2016-10-06 18:26] eegasai commented on #132
Hi avan,
i have copied the url from the web app in which the HUD was working, till https://localhost:{port}/glimpse/client/index.html.I tried to change the api port number .It asked for metadata url of the Glimpse(by default it is being considerd as Base Url  and "/metadta") In which every time it is displaying the No requests found even though i am invoking api endpoints.

[2016-10-06 20:59] DOTang opened #133 "Does Glimpse beta 2 work with ASP.NET Core MVC apps? (Not .NET CORE)"
I have an ASP.NET CORE MVC app. I installed glimpse-beta 2, and I try to update my register services and configure methods, and there are numerous errors:

That's what occurs when I run the app. Also I can't even add app.UseGlimpse() because it has a compile error of:

Looking at the full type names, my MVC projects app is of type `Microsoft.AspNetCore.Builder.IApplicationBuilder`, while the glimp

[2016-10-06 21:01] DOTang commented on #133
Welp I guess not according to this: https://github.com/Glimpse/Glimpse.Prototype/issues/123

[2016-10-06 21:01] #133 closed, assigned to nobody

[2016-10-13 15:05] nikmd23 commented on #123
We're still alive! We've got a lot of stuff happening in the background. We're going to address the feedback from @CaptainCow95 soon, and we'll make sure to update this thread when that fix is released.

We really appreciate your interest and support in our efforts. As you know, Glimpse v2, like ASP.NET, is a complete re-write, and we're taking the time to reconsider each and every feature. If you

[2016-11-08 20:18] alandillon commented on #123
I am in need of a new drop  that has nuspec targeting .NETCoreApp1.0, any timeframe on at least that?

[2016-11-23 13:03] joeaudette commented on #123
asp.net 1.1 is out, can't we at least get a preview release of glimpse on the standard nuget feed?

[2016-12-21 14:07] Jetski5822 commented on #123
Whats the word chaps, want to plug this in to Orchard 2 and would love an updated nuget package targeting 1.1.0-* if possible.

[2016-12-26 00:55] avanderhoorn commented on #123
ok... just committed an update to get everything working with the final RTW bits (1.0.*). This should also work for 1.1.* but I haven't done any explicit testing on that yet. Within the next day or two, I hope to get a updated package published so that we can test those bits before pushing a wider update.

[2016-12-26 03:13] Jetski5822 commented on #123
@avanderhoorn I was also updating https://github.com/Jetski5822/Glimpse.Prototype/tree/updatedotnetcore

- I change it to use the netstandard1.6 so that I could use in Orchard 2
- Fixed build scripts
- Fixed the internal abstractions project reference

I was using the xproj stuff so that I can use the global.json project stuff for Orchard2. The branch is also all updated to 1.1.0 too.

Would it be

[2016-12-27 03:06] avanderhoorn commented on #123
@Jetski5822 ya take a look at the latest commits I've done and see what the delta is to what you have. I had a little bit of trouble getting the test projects converted over so maybe thats something that you can take a look at. Regardless, let me know what you find and we can go from there. Currently trying to get a build to the feed, but stuck on this one if anyone has any thoughts - https://gith

[2016-12-28 17:10] avanderhoorn opened #137 "[HttpServer] Capturing body content"
Body data can only be ready once, hence when we go to read it we will need to wrap the body stream that already exists. This means that from that point onwards, if anyone interacts with the body stream they will be using our copy (the Req/Res objects have a setter for the Body so this should be fine.

Next we need to attempt to read the stream to completion or till we have hit our trim limit (62k

[2016-12-28 18:00] khellang commented on #137
Can't you use the `EnableRewind` functionality on the request for this? That should take care of buffering and potentially spool to a temp file is the body is big enough.

[2016-12-28 19:34] avanderhoorn commented on #137
Ya I thought about that, but `EnableRewind` has the potential side effect of [writing to the filesystem](https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.Http/Internal/BufferingHelper.cs#L51-L53). For our scenario, I'm wondering if we can do something similar (by way of how the stream is wrapped) and do it without writing to the file

[2016-12-28 19:59] avanderhoorn commented on #137
I was talking to @davidfowl and the side effects of `EnableRewind` is probably acceptable. Other tools will also use this so its going to be fine for now.

[2016-12-28 21:02] khellang commented on #137
If you only do a partial read (less than the threshold), the bytes never touch disk anyway. You only want the buffering part so you can rewind the stream after you're finished reading what you need. :smile:

[2016-12-31 00:15] avanderhoorn commented on #137
Just incase you have any thoughts, here is the update to capture text based bodies:
- https://github.com/Glimpse/Glimpse.Prototype/blob/avanderhoorn-update-schemas/src/Glimpse.Agent.AspNet/Internal/Inspectors/AspNet/HostingDiagnosticsInspector.cs#L30
- https://github.com/Glimpse/Glimpse.Prototype/blob/avanderhoorn-update-schemas/src/Glimpse.Agent.AspNet/Internal/Inspectors/AspNet/HostingDiagnostic

[2016-12-31 02:33] Jetski5822 commented on #99
@avanderhoorn hey man, whats the word on this? I ended up creating proxy objects with Diagnostic sources pumping stuff out, however no CommandText shown yet as its not in hud

[2016-12-31 04:15] avanderhoorn commented on #99
Currently we got an extension point put into SQL ADO.Net... Unfortunately there wasn't any real place that we could get support across all ado providers out of the box. The ado infrastructure only has abstract implementations at the level we need to tap.

The end result is that we need to ping the other provider implementers and get them to implement the required diagnostic hooks. This shouldn't b

[2016-12-31 09:17] Jetski5822 commented on #99
Sweet - do you know what the code looks like for the SQL ADO.net extension point?

I did this.. https://github.com/OrchardCMS/Orchard2/blob/eb4c431ad1bf369a252c8e17e612477d91f2d13b/src/Orchard.Data/Diagnostics/DiagnosticDbCommand.cs#L101

Similar to the EF Extension points, and seems to work fine for the time being. I have noticed that the CommandType and CommandParameters are commented out due to

[2016-12-31 15:20] avanderhoorn commented on #99
As far as SQL goes, if you have a look [here](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs) and do a search for `_diagnosticListener` you will see how we implemented it SQLClient... the long and the short though, it that its fairly similar. Additionally you could imagine similar code in the other ado providers.

Longer term you shou

[2017-01-17 11:49] DMW007 commented on #104
The beta of V2 is not really working on ASP.NET Core, cause it requires the old framework, which destroys cross-platform compability and thereby the biggest advantages of the new ASP.NET Core... Very sadly, I like Glimpse very much, but can't resign on this cause the applications are running on Linux servers :/

[2017-01-17 14:36] KLuuKer commented on #123
@avanderhoorn i'm not sure but maybe you can take a peek at https://github.com/JimBobSquarePants/ImageSharp
they have builds going with version numbers

hmm they have seemed to create a special project that manages the version numbers (and they still use xproj)

[2017-01-17 17:23] avanderhoorn commented on #104
Checked into master is the latest updates that work with the new TFMs and work with Core 1.0+. We are just working through some build issues atm and I'm hoping to get a release out soon. I'm targeting to get this work completed this month.

[2017-01-17 17:56] avanderhoorn commented on #123
Ya ok... Nuget looks like they will have a fix for this issue directly.

[2017-01-20 07:29] avanderhoorn commented on #123
Good news. I just got things working and I have the building and packing end to end. I managed to get a build that had a patch for the problem I was having and we will be able to get a build out. I'm hoping to have bits up on myget tomorrow!

[2017-01-20 07:43] Jetski5822 commented on #123
Wicked news!! Sorry haven't looked at it yet, blocked my some other task :(

Sent from my iPhone

[2017-01-23 18:18] avanderhoorn commented on #123
As a note, I got blocked from putting out the release due to some bug in nuget. Currently working through it.

[2017-01-23 22:06] avanderhoorn commented on #123
Ok so I've worked around that issue, hit another roadblock in uploading the packages. Hopefully will get this straightened out soon.

[2017-01-24 17:31] avanderhoorn commented on #123
GREAT NEWS!!! The feed has finally been updated. If you head over to - https://www.myget.org/gallery/glimpseprototype - you will find that 2.0.0-beta2-201701201541 has been deployed. This release includes all the necessary updates to target RTM v1.x.

Note, this update is purely targeted at the infrastructure side of things. Before making further changes I want to make sure we have all our ducks l

[2017-01-24 19:58] KLuuKer commented on #123
@avanderhoorn i added the brand spanking new beta bits, added the 2 UseGlimpse()'s and....
**BAM** it just works on my big converted legacy (net461) app

praise ~~god~~ @avanderhoorn

[2017-01-24 23:58] latop2604 opened #138 "ArgumentNullException in /glimpse/client/index.html"
Version : "Glimpse": "2.0.0-beta2-201701201541"

When I click on the HUD glimple icon, an exception pop in the console logger.

Urls :
 - http://localhost:5000/glimpse/message-stream/?types=user-identification%7Cend-request%7Cbegin-request%7Cafter-action-invoked%7Cafter-action-view-invoked%7Cafter-execute-command%7Cbrowser-navigation-timing&lastEventId=&r=915567195157719
 - http://localhost:5000/g

[2017-02-02 15:00] KoalaBear84 commented on #123
Thanks. I stopped checking out ASP.NET Core because Glimpse did not work. Now I could start explore it again. I hope it would be sooner because you started working at Microsoft :P

I did the following, as not everyone (myself included) knows how to work with MyGet etc.:
1. Tools > NuGet Package Manager > Package Manager Settings
2. Go to Package Sources
3. Click the green plus sign to add a packag

[2017-02-02 17:07] avanderhoorn commented on #123
@KoalaBear84 Thanks for the writeup that people will be able to use! Re timing, you will find all sorts of interesting things when you join a big company ;) Re this issue... I'm seeing a lot of browser link in there, is there any chance you can comment out browser link and see if that fixe the issue?

[2017-02-02 18:58] KoalaBear84 commented on #123
Great. I didn't disable it. But you have to put it BEFORE "app.UseBrowserLink();" (and also placed it before "app.UseDeveloperExceptionPage();", so Glimpse will process it before it falls in the hands from BrowserLink :D. Thanks! It solved the issue (Y)

[2017-03-24 23:56] mike-kaufman opened #139 "[DotNetCore] Investigate updating to new client"
@avanderhoorn commented on [Tue Sep 06 2016](https://github.com/Glimpse/Glimpse.Node/issues/510)

---

@avanderhoorn commented on [Mon Sep 19 2016](https://github.com/Glimpse/Glimpse.Node/issues/510#issuecomment-246783503)

- [ ] Add telemetry for system init and errors (plus config setup) - 10hrs
- [ ] Update schema usage - 20hrs
- [ ] Setup service for reporting errors - 10hrs
- [ ] Improve erro

[2017-03-29 18:19] Jetski5822 commented on #139
Hey @avanderhoorn , Could we get Dev updated with the stuff in avanderhoorn-update-schemas? Id like to start looking at this again, just want to be on the latest before I get kicking.

[2017-05-10 21:09] carlosflorencio commented on #104
Any news?

[2017-06-24 08:58] phatcher opened #140 "WebAPI/Owin Support"
I have an application which is an MVC + WebAPI using OWIN, from what I can tell this sort of environment is not supported under v1.

Is this expected to be supported under v2 and is there an expected timeline?

[2017-06-27 10:18] jirisykora83 opened #141 "How to disable injecting js script to specific view."
I want to render some view to string (for sending over email). But right now i don't can found way how disable injecting script (optimally with some easy way for last mvc core project).

[2017-06-27 12:22] jirisykora83 commented on #141
Temporary solution clean string manually (in my case i dont want any <script> tags).

[2017-09-05 12:00] sjurmr opened #142 "SQL Queries not showing in ASP.NET Core 1.x"
Hi,

Using 2.0.0-beta2-201701201541 I got the Glimpse HUD up and running. I use DBProviderFactories go get a SqlClientFactory and create the connection from that. The Host panel shows 0 DB Queries. Am I doing something obviously wrong or is this not working yet in ASP.NET Core? My TargetFramework is net46, if that matters.

Thanks,
Sjur

[2017-09-18 09:52] alyiox commented on #123
Any updates?

[2017-10-09 06:18] ChintanPanara opened #143 "Support for .Net Core 2.0"
Hi there,

Glimpse is an excellent way to improve productivity in your development environment and I am very excited about using it .Net Core 2.0. I have just finished migrating my .Net Core 1.1 code to 2.0.

Kindly suggest if Glimpse supports ASP.Net Core 2.0 (if not, any likely support to be available in near future).

I have referenced Glimpse from "https://www.myget.org/F/glimpseprototype/api/

[2017-11-24 13:07] emilianionascu commented on #123
Hi. I'm trying to use Glimpse with an ASP.NET Core 2.0 app and I'm getting the following error:

[code]

Any thoughts on how I could fix this? It looks like Glimpse should reference Microsoft.Extensions.DependencyInjection 2.0.0 or higher.

[2017-11-24 16:45] dazinator commented on #123
@emilianionascu See https://github.com/aspnet/EntityFrameworkCore/issues/8498

[2017-12-12 16:30] ruben-rubio commented on #123
Is the project still active or any updates? because the nuget was not updated with beta2

[2017-12-13 05:26] KoalaBear84 commented on #123
In the beginning of ASP.NET Core I waited and waited, because I wanted Glimpse to be part of the journey of learning / adapting to ASP.NET Core. Also thought that when it was 'acquired' by Microsoft it would get better. But it is a little left behind I guess which is a pity. As it is a really beautiful tool.

[2017-12-21 14:58] vankooch commented on #123
Feels like glimpse for .Net is unmaintained, as the developers are working on glimpse for node.js.
See [blog post](http://blog.getglimpse.com/)

After watching the code, I guess there is some work to get glimpse working with .net core 2.0. As there is a lot refactoring with Razor and also DiagnosticAdapter has changed.

[2017-12-22 04:17] avanderhoorn commented on #123
If it helps I am working on this in my spare time... it's just that between everything that's happening I haven't been able to give it as much time as I want. I finished the conversion over to .Net 2.0 a couple of weeks ago but still have more updates to do to get everything working.

[2017-12-22 10:18] vankooch commented on #123
That sounds great! Is there anything I can do to help you out? Is it on github?

[2017-12-24 11:11] avanderhoorn commented on #123
Yep, it's on GH in a branch... I just need to push the updates I have on my machine. Will let you know once its up and we can go from there.

[2017-12-24 13:54] Jetski5822 commented on #123
Sweet!!! Will you update the nuget package too?? I can update Orchard Core and get it running

[2018-02-07 23:38] rjamesnw commented on #143
I just ran into the exact same error.  So sad, was really hoping this would work.  :*(

[2018-02-27 09:48] dementeddevil commented on #143
I submitted a pull-request over [here](https://github.com/Glimpse/Glimpse.Prototype/pull/146) which works as far as I can tell. Note: The minimum .NET Framework version (for those of you binding to .NET Framework instead of .NET Core) is bumped from 4.5.1 to 4.6.1

[2018-07-20 18:03] skendrot commented on #123
Any updates on this?

[2018-08-25 10:52] amirhmi commented on #123
Don't you want to release updates?

[2018-09-09 10:44] inlineHamed commented on #143
In which version it will be available?

[2018-10-23 14:13] sclarson commented on #123
Is there anything a community contributor could do to help get core vLatest support in an ongoing basis?

[2018-10-30 13:34] vankooch commented on #123
Feels like the whole project is offline, even the new edition for node has no updates for some time. And also the domain http://getglimpse.com/ is down. Tooo bad!

[2018-11-01 16:06] #138 closed, assigned to nobody

[2020-02-28 14:29] #121 closed, assigned to nobody

[2020-04-28 18:06] rroman81 opened #150 "Any Interest to revive this project?"
This tool has been very solid for .net framework based asp.net implementation.  I am wondering if there is enough interest for folks to revive this.  Maintainers, any reservations?